!!! 5
%html
  %head
    %title Itinere
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ charset: 'utf-8' }
    = wicked_pdf_stylesheet_link_tag 'application'
    = wicked_pdf_javascript_include_tag 'application'
  %body
    .container
      = yield
    :javascript
      $('.btn').hide();
